APP_NAME="Healthcare Appointment System"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=mongodb
MONGODB_DSN=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/appointment-system
DB_DATABASE=appointment-system

SESSION_DRIVER=file

ADMIN_EMAIL=admin@healthcare.com
ADMIN_PASSWORD=admin123
